<!DOCTYPE html>
<html>
    <head>
        <title>Star Wars App</title>
        <link rel="stylesheet" href="/static/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">
    </head>
    <body>
        <header>
            <section id = 'header_photo'> 
                <!-- photo comes here -->
            </section>
            <nav>
                <ul>
                    <li><a href="http://127.0.0.1:3000">Home</a></li>
                    <li><a href="http://127.0.0.1:3000/char">Characters</a></li> 
                    <li><a href="http://127.0.0.1:3000/planets">Planets</a></li>
                    <li><a href="http://127.0.0.1:3000/vehicles">Vehicles</a></li>
                    <li><a href="http://127.0.0.1:3000/films">Films</a></li>
                  </ul>
                </nav>
        </header>
        <main> 
            <h1 id='title'>Star Wars App</h1>
            <section id ='container'>
                {% block content %}
                {% endblock %}  
            </section>
        </main>
    </body>
</html>