{% extends 'base.html' %}
{% block content %}
<section id = 'character_section'>
    <a href="http://127.0.0.1:3000/char">
          <button >Click here to Randomize a Character </button>
    </a>
  <div id="display">
    <p>Name: {{character.name}}</p>
    <p>Height: {{character.height}}</p>
    <p>Skin Color: {{character.skin_color}}</p>
    <p> Eye Color: {{character.eye_color}}</p>
    <p>Birth Year: {{character.birth_year}}</p>
    <p>Gender: {{character.gender}}</p>
</section>
  </div>
{% endblock %}  