{% extends 'base.html' %}
{% block content %}
<h2>Explore Star Wars Vehicles and Spaceships!</h2>
<div class="input-group">
  <a href="http://127.0.0.1:3000/vehicles">
    <span class="input-group-btn"><button>Generate A Random Vehicle</button></span>
  </a>
  </div>

  <div id="display">
    <p>Vehicle Name: {{vehicle.name}}</p>
    <p>Model: {{vehicle.model}}</p>
    <p>Manufacturer: {{vehicle.manufacturer}}</p>
    <p>Cost in credits: {{vehicle.cost_in_credits}}</p>
    <p>Number of Crew: {{vehicle.crew}}</p>
    <p>Number of passengers: {{vehicle.passengers}}</p>
    <p>Consumables: {{vehicle.consumables}}</p>

  </div>
{% endblock %}  